
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="title-area clearfix main-color">
    <div class="inner">
        <div class="left-side-title">

            <h1 class="page-title">Shop</h1>

            <nav class="woocommerce-breadcrumb"><a href="@Url.Action("Index","Home")">Home</a>&nbsp;&#47;&nbsp;Shop</nav>
        </div>
        <div class="right-side-title">

        </div>
    </div>
</div>

<div id="container">
    <div id="content" role="main">




        <ul class="products">
            <li class="product-category product first">
                <a href="@Url.Action("Featured","Pages")">
                    <a href="@Url.Action("Featured","Pages")">
                        <div class="thumb-wrapper">
                            <img src="../wordpress/wp-content/uploads/2013/09/w-fashion-430x430.jpg" alt="Fashion" width="430" height="430" />
                        </div>
                        <h3>
                            Fashion <mark class="count">(9)</mark>
                        </h3>

                    </a>
                </a>
            </li>
            <li class="product-category product">
                <a href="@Url.Action("Fun","MegaMenu")">
                    <a href="@Url.Action("Fun","MegaMenu")">
                        <div class="thumb-wrapper">
                            <img src="../wordpress/wp-content/uploads/2013/09/w-fun-430x430.jpg" alt="Fun" width="430" height="430" />
                        </div>
                        <h3>
                            Fun <mark class="count">(10)</mark>
                        </h3>

                    </a>
                </a>
            </li>
            <li class="product-category product last">
                <a href="@Url.Action("Featured_Luxury","Pages")">
                    <a href="@Url.Action("Featured_Luxury","Pages")">
                        <div class="thumb-wrapper">
                            <img src="../wordpress/wp-content/uploads/2013/09/w-luxury-430x430.jpg" alt="Luxury" width="430" height="430" />
                        </div>
                        <h3>
                            Luxury <mark class="count">(6)</mark>
                        </h3>

                    </a>
                </a>
            </li>
            <li class="product-category product first">
                <a href="@Url.Action("Man","MegaMenu")">
                    <a href="@Url.Action("Man","MegaMenu")">
                        <div class="thumb-wrapper">
                            <img src="../wordpress/wp-content/uploads/2013/09/w-men-430x430.jpg" alt="Man" width="430" height="430" />
                        </div>
                        <h3>
                            Man <mark class="count">(10)</mark>
                        </h3>

                    </a>
                </a>
            </li>
            <li class="product-category product">
                <a href="@Url.Action("InnerPage","Pages")">
                    <a href="@Url.Action("InnerPage","Pages")">
                        <div class="thumb-wrapper">
                            <img src="../wordpress/wp-content/uploads/2013/09/w-sport-430x430.jpg" alt="Sport" width="430" height="430" />
                        </div>
                        <h3>
                            Sport <mark class="count">(6)</mark>
                        </h3>

                    </a>
                </a>
            </li>
            <li class="product-category product last">
                <a href="@Url.Action("Woman","MegaMenu")">
                    <a href="@Url.Action("Woman","MegaMenu")">
                        <div class="thumb-wrapper">
                            <img src="../wordpress/wp-content/uploads/2013/09/w-women-430x430.jpg" alt="Woman" width="430" height="430" />
                        </div>
                        <h3>
                            Woman <mark class="count">(20)</mark>
                        </h3>

                    </a>
                </a>
            </li>

        </ul>


    </div>
</div>

